
# default behaviour
* text=auto

# v4 Script files must ALWAYS use crlf line endings
*.txt text eol=crlf
=======
glew32.dll
RSDKv4_64.exe
RSDKv4.exe
SData.bin
SDL2.dll
UData.bin
settings.ini
SonLVL.ini
SonLVL-RSDK.log
settings.ini
log.txt

